.woocommerce ul.products li.product .button {
    background: rgb(155, 155, 34);
    color: #fff;
    margin-top: 0;
    line-height: 18px;
}
.woocommerce ul.products li.product .button:hover {
    background: rgb(189, 189, 231);
    color: #fff;
}
.woocommerce a.added_to_cart {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    background: green;
    color: #fff;
    line-height: 23px;
    height: 100%;
    width: 100%;
    text-align: center;
}
.woocommerce-loop-product__title {
    color: #555;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.woocommerce ul.products li.product .price ins {
    float: left;
    margin-right: 10px;
}
.next.page-numbers , .prev.page-numbers {
    background: none repeat scroll 0 0 #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0px 10px !important;
}
.next.page-numbers:hover , .prev.page-numbers:hover {
    background: none repeat scroll 0 0 #157ed2;
    color:#fff !important;
}
.page-numbers.current {
    color: #157ed2;    
}
.list-inline > li {
    display: inline-block;
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.filters-containerv{
    padding: 15px 20px;
    padding-bottom: 15px;
    background-color: #fff;
    padding-bottom: 0px;
}
.woocommerce .woocommerce-ordering {
    margin: 5px 0 1em 10px;
}
.woocommerce .woocommerce-ordering select {
    height: 23px;
    padding: 0px 10px;
}